<div class="container mt-4">
  <h1 class="text-center mb-4">Bienvenue à la bibliothèque</h1>
  <p class="text-center">
    Bienvenue sur notre plateforme de gestion de bibliothèque. Utilisez les boutons ci-dessous pour accéder aux différentes sections :
  </p>

  <div class="d-flex justify-content-center mb-4">
    <button routerLink="/livres" class="btn btn-primary mx-2">Gestion des Livres</button>
    <button routerLink="/auteurs" class="btn btn-primary mx-2">Gestion des Auteurs</button>
    <button routerLink="/emprunts" class="btn btn-primary mx-2">Gestion des Emprunts</button>
    <button routerLink="/utilisateurs" class="btn btn-primary mx-2">Gestion des Utilisateurs</button>
  </div>